<ul class="nav nav-tabs my-5">
  <li
    class="nav-item"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    <a class="nav-link" [routerLink]="['/']">Home</a>
  </li>
  <li class="nav-item" routerLinkActive="active" *ngIf="!isAuthenticated">
    <a class="nav-link" [routerLink]="['/auth']">Auth</a>
  </li>
  <li class="nav-item" routerLinkActive="active" *ngIf="isAuthenticated">
    <a class="nav-link" [routerLink]="['/users']">Users</a>
  </li>
  <li class="nav-item" routerLinkActive="active" *ngIf="isAuthenticated">
    <a class="nav-link" (click)="onLogout()">Logout</a>
  </li>
  <li class="nav-item" routerLinkActive="active">
    <a class="nav-link" [routerLink]="['/user-add']">Add New User</a>
  </li>
  <li class="nav-item" routerLinkActive="active">
    <a class="nav-link" [routerLink]="['/users']">Users</a>
  </li>
</ul>
