<div class="card p-3 mb-3">
  <h5>Add New Activity</h5>
  <form [formGroup]="activityForm" (ngSubmit)="onSubmit()">
    <div class="mb-2">
      <label class="form-label">Title</label>
      <input class="form-control" formControlName="title" />
      <div
        *ngIf="
          activityForm.controls.title.invalid &&
          activityForm.controls.title.touched
        "
        class="text-danger"
      >
        Title is required
      </div>
    </div>

    <div class="mb-2">
      <label class="form-label">Start Date</label>
      <input type="date" class="form-control" formControlName="startDate" />
      <div
        *ngIf="
          activityForm.controls.startDate.invalid &&
          activityForm.controls.startDate.touched
        "
        class="text-danger"
      >
        Start date is required
      </div>
    </div>

    <div class="mb-2">
      <label class="form-label">End Date</label>
      <input type="date" class="form-control" formControlName="endDate" />
      <div
        *ngIf="
          activityForm.controls.endDate.invalid &&
          activityForm.controls.endDate.touched
        "
        class="text-danger"
      >
        End date is required
      </div>
      <div
        *ngIf="
          activityForm.getError('endBeforeStart') &&
          activityForm.controls.endDate.touched
        "
        class="text-danger"
      >
        End date cannot be before start date
      </div>
    </div>

    <div class="mb-3">
      <label class="form-label">Status</label>
      <select class="form-select" formControlName="status">
        <option *ngFor="let opt of statusOptions" [value]="opt.value">
          {{ opt.label }}
        </option>
      </select>
    </div>

    <button
      class="btn btn-primary"
      type="submit"
      [disabled]="activityForm.invalid"
    >
      Add Activity
    </button>
  </form>
</div>
