<div class="calendar-wrapper shadow-sm rounded-3 bg-white p-3">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <div class="d-flex gap-2">
      <button
        class="btn btn-light rounded-circle shadow-sm"
        (click)="prevMonth()"
      >
        <i class="bi bi-chevron-left"></i>
      </button>
      <button
        class="btn btn-light rounded-circle shadow-sm"
        (click)="nextMonth()"
      >
        <i class="bi bi-chevron-right"></i>
      </button>
    </div>

    <h4 class="fw-bold mb-0">{{ getDate | date : "MMMM yyyy" }}</h4>

    <button class="btn btn-outline-primary px-4" (click)="goToday()">
      Today
    </button>
  </div>

  <div class="calendar-grid">
    <div
      class="weekday"
      *ngFor="let d of ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat']"
    >
      {{ d }}
    </div>

    <ng-container *ngFor="let week of weeks">
      <ng-container *ngFor="let day of week">
        <div class="day-cell">
          <app-date-cell
            [day]="day"
            (clicked)="onDateClick(day.date)"
          ></app-date-cell>
        </div>
      </ng-container>
    </ng-container>
  </div>
</div>
